---
import FooterBox from "./FooterBox.astro";
---

<footer class="bg-coffee-900 pt-20">
    <div class="max-w-7xl mx-auto mt-10 grid grid-cols-1 lg:grid-cols-3 gap-5">
        <FooterBox heading="Ubicación">
            <p>Coffee Street 39</p>
            <p>Londres, UK</p>
        </FooterBox>
        <FooterBox heading="Reservación">
            <p>Tel. +123 456 789</p>
            <a href="tel:+123456789">Llamar</a>
        </FooterBox>
        <FooterBox heading="Horario">
            <p>Lunes - Viernes: 8:00 AM - 5:00 PM</p>
            <p>Sábado - Domingo: 9:00 AM - 4:00 PM</p>
        </FooterBox>
    </div>
    <p class="py-10 text-center text-white text-sm">Todos los derechos reservados. La Cafeteria 1939. &copy; {new Date().getFullYear()}</p>
</footer>